<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Dev_Architecture" value="https://pkgs.dev.azure.com/tfsmadison/_packaging/Dev_Architecture/nuget/v3/index.json" />
  </packageSources>

  <packageManagement>
    <clear />
    <add key="format" value="1" />
    <add key="disabled" value="False" />
  </packageManagement>

  <disabledPackageSources>
    <clear />
  </disabledPackageSources>

  <activePackageSource>
    <clear />
  </activePackageSource>

</configuration>